.DS_Store
Assignment_1/__pycache__/shingling.cpython-313.pyc
Assignment_1/__pycache__/compare_sets.cpython-313.pyc
Assignment_1/__pycache__/compare_signatures.cpython-313.pyc
Assignment_1/__pycache__/min_hashing.cpython-313.pyc
